model_config_list: {
  config: {
    name: "zxj_half_plus_two",
    base_path: "/tfs/models/saved_model_half_plus_two_cpu"
    model_platform: "tensorflow"
  },
  config: {
    name: "zxj_half_plus_three",
    base_path: "/tfs/models/saved_model_half_plus_three",
    model_platform: "tensorflow"
  },
  config {
    name: "ple",
    base_path: "/tfs/models/ple",
    model_platform: "tensorflow"
  }
}
